.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ededed;;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a { 
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
position: absolute;
    top: 0;
    right: 8px;
    font-size: 21px;
    margin-left: 45px;
}
 

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#_filter{
  margin:5px;
}
.sidenav input[type=text]{
  margin-top: 9px;
}
.epc{
  width: 80%;
}

.sidenav h1{
    font-size: 17px;
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: default;
    text-transform: uppercase;
    padding-right: 7px;
}
.sidenav h2{
      font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: default;
    text-transform: uppercase;
}
.sidenav h3 {
line-height: normal;
    font-size: 14px;
    vertical-align: middle;
    font-weight: normal;
    color: black;
    cursor: inherit;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
#sidenavh3 {
      font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: rgb(0, 0, 0);
    color: black;
    cursor: inherit;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-align: center;
    align-items: center;
}

#box_d {
    border: 2px solid gray;
    padding: 2px 0px 0px 14px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.ilisn{/* width: 30%;*/
}